<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block data %}
    <!-- {% include "header.html" %} -->
    <p>This is my contact page</p>
    <!-- {% include "footer.html" %} -->
    <!-- <h3>{{m}}</h3>
    <h3>{{f}}</h3> -->
    <h2>{{x}}</h2>
    <h2>{{y}}</h2>
    <h2>{{z}}</h2>
    {% endblock data %}
</body>
</html>