{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
    <img src="https://media.licdn.com/dms/image/D5616AQGcCFjAfMOUxA/profile-displaybackgroundimage-shrink_200_800/0/1675014714939?e=2147483647&v=beta&t=ibsJk88U66iW4wB2envcSnh9A17K1hJlMygPIjbNllY" class="img-fluid" alt="..."  width="2000">
    <h1 style="margin-left:200;">ITVEDANT INSTITUTION</h1><br>

